name: Create GitHub Release

on:
  workflow_call:
    inputs:
      revision:
        required: true
        type: string
      draft:
        required: false
        type: boolean
        default: false
      prerelease:
        required: false
        type: boolean
        default: false
      release_info:
        required: false
        type: string

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        ref: main
        fetch-depth: 0
        persist-credentials: false

    - name: Pull latest changes
      run: |
        git fetch origin main
        git reset --hard origin/main
        git log -1

    - name: Create and push tag
      env:
        REVISION: ${{ inputs.revision }}
      run: |
        git config --global user.email "qubership-actions[bot]@users.noreply.github.com"
        git config --global user.name "qubership-actions[bot]"
        git tag -a "v$REVISION" -m "Release v$REVISION"
        git push origin "v$REVISION"

    - name: Create GitHub release using gh CLI
      env:
        REVISION: ${{ inputs.revision }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
         gh release create "v$REVISION" --title "Release v$REVISION" --notes "Release v$REVISION"
